# Exercise 1

Use a `for` loop to print numbers from 1 to 10.

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

# Exercise 2 

Write a loop to calculate the sum of numbers from 1 to 100.

In [3]:
total_sum = 0

for i in range(1, 101):
    total_sum = total_sum + i

print("The sum of the first 100 numbers is:", total_sum)

The sum of the first 100 numbers is: 5050

# Exercise 3 

Print all even numbers from 1 to 20.

In [4]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

# Exercise 4

Write a `while` loop that counts down from 10 to 1.

In [5]:
i = 10

while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

# Exercise 5

Count the number of vowels in the string `programming`.

In [6]:
text = "programming"
vowels = "aeiou"

number_of_vowels = 0
for char in text:
    if char in vowels:
        number_of_vowels = number_of_vowels + 1

print("Number of vowels in the word 'programming':", number_of_vowels)

Number of vowels in the word 'programming': 3

# Exercise 6

Print the multiplication table of 3 up to 10 with a `for` loop.

In [7]:
for i in range(1, 11):
    print("3 x", i, "=", 3 * i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

# Exercise 7

Loop through 1 to 10 and stop the loop when the number 7 is reached.

In [8]:
for i in range(1, 11):
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

# Exercise 8 

Print the number 1 to 10, skipping 4 and 5.

In [9]:
for i in range(1, 11):
    if i == 4 or i == 5:
        continue
    print(i)

1
2
3
6
7
8
9
10