In [8]:
import pandas as pd; pd.options.display.max_columns = None

# Read the CSV file
df = pd.read_csv('dmc2006_train.csv')
df.head()

,auct_id,item_leaf_category_name,listing_title,listing_subtitle,listing_start_date,listing_end_date,listing_durtn_days,listing_type_code,feedback_score_at_listing_time,start_price,buy_it_now_price,buy_it_now_listed_flag,bold_fee_flag,featured_fee_flag,category_featured_fee_flag,gallery_fee_flag,gallery_featured_fee_flag,ipix_featured_fee_flag,reserve_fee_flag,highlight_fee_flag,schedule_fee_flag,border_fee_flag,qty_available_per_listing,gms,category_avg_gms,gms_greater_avg
0,1,Audio & Hi-Fi:MP3-Player:Apple iPod:iPod Mini ...,Apple iPod mini 4 GB 2. Gen. 2005 silber blau ...,NaN,6/24/05,11/3/05,132,7,2182,195.0,0,N,N,N,N,Y,N,N,N,N,N,N,48,195.0,167.977,1
1,3,Audio & Hi-Fi:MP3-Player:Apple iPod:iPod Mini ...,APPLE iPod mini Musicplayer 4GB Mac/Win USB 2....,NaN,8/13/05,10/11/05,59,7,10604,185.0,0,N,N,N,N,N,N,N,N,N,N,N,2,185.0,167.977,1
2,4,Audio & Hi-Fi:MP3-Player:Apple iPod:iPod Mini ...,Apple iPOD Mini Silber NEUWARE mit Rechnung/Ga...,NaN,9/8/05,10/23/05,45,7,72,195.0,0,N,N,N,N,Y,N,N,N,N,N,N,2,195.0,167.977,1
3,5,Audio & Hi-Fi:MP3-Player:Apple iPod:iPod Mini ...,Apple i-Pod mini 4GB BLUE org. verpackt +Rech...,Neuwertig +Garantie ¸ber Original-Rechnung (Me...,10/14/05,10/24/05,10,1,2,85.0,0,N,Y,N,N,Y,N,Y,N,N,Y,Y,1,172.0,161.512,1
4,6,Audio & Hi-Fi:MP3-Player:Apple iPod:iPod Mini ...,Apple iPod mini 4 GB Rosa,NaN,9/18/05,10/13/05,25,7,136,199.0,0,N,N,N,N,N,N,N,N,N,N,N,1,199.0,173.450,1

In [9]:
df.describe(include='all')

,auct_id,item_leaf_category_name,listing_title,listing_subtitle,listing_start_date,listing_end_date,listing_durtn_days,listing_type_code,feedback_score_at_listing_time,start_price,buy_it_now_price,buy_it_now_listed_flag,bold_fee_flag,featured_fee_flag,category_featured_fee_flag,gallery_fee_flag,gallery_featured_fee_flag,ipix_featured_fee_flag,reserve_fee_flag,highlight_fee_flag,schedule_fee_flag,border_fee_flag,qty_available_per_listing,gms,category_avg_gms,gms_greater_avg
count,7998.000000,7998,7998,1050,7998,7998,7998.000000,7998.000000,7998.000000,7998.000000,7998.000000,7998,7998,7998,7998,7998,7998,7998,7998,7998,7998,7998,7998.000000,7880.000000,7998.000000,7998.000000
unique,NaN,15,6279,885,189,174,NaN,NaN,NaN,NaN,NaN,2,2,1,2,2,2,2,1,2,2,2,NaN,NaN,NaN,NaN
top,NaN,Audio & Hi-Fi:MP3-Player:Apple iPod:iPod Nano ...,Apple - iPod NANO 2GB **schwarz** NEU/OVP/Re...,#NAME?,12/11/05,12/18/05,NaN,NaN,NaN,NaN,NaN,N,N,N,N,Y,N,N,N,N,N,N,NaN,NaN,NaN,NaN
freq,NaN,1797,275,17,109,179,NaN,NaN,NaN,NaN,NaN,6272,6831,7998,7947,4127,7981,5583,7998,7498,6299,7583,NaN,NaN,NaN,NaN
mean,7987.342086,NaN,NaN,NaN,NaN,NaN,5.015379,1.864841,759.148412,45.572354,45.479495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.206802,196.956565,197.217064,0.475119
std,4607.328549,NaN,NaN,NaN,NaN,NaN,4.481509,2.471974,2596.453340,82.163806,90.214508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.628894,46.795330,29.281467,0.499412
min,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,-1.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,158.578000,0.000000
25%,4004.500000,NaN,NaN,NaN,NaN,NaN,3.000000,1.000000,25.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,165.072500,167.977000,0.000000
50%,7990.500000,NaN,NaN,NaN,NaN,NaN,5.000000,1.000000,81.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,187.750000,197.862000,0.000000
75%,12003.500000,NaN,NaN,NaN,NaN,NaN,7.000000,1.000000,260.750000,50.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,223.000000,207.358000,1.000000
max,16000.000000,NaN,NaN,NaN,NaN,NaN,175.000000,9.000000,26883.000000,414.000000,500.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150.000000,601.510000,263.459000,1.000000

In [12]:
# Reporting the percentage of missing values in each column
100*df.isna().sum() / len(df)

auct_id                            0.000000
item_leaf_category_name            0.000000
listing_title                      0.000000
listing_subtitle                  86.871718
listing_start_date                 0.000000
listing_end_date                   0.000000
listing_durtn_days                 0.000000
listing_type_code                  0.000000
feedback_score_at_listing_time     0.000000
start_price                        0.000000
buy_it_now_price                   0.000000
buy_it_now_listed_flag             0.000000
bold_fee_flag                      0.000000
featured_fee_flag                  0.000000
category_featured_fee_flag         0.000000
gallery_fee_flag                   0.000000
gallery_featured_fee_flag          0.000000
ipix_featured_fee_flag             0.000000
reserve_fee_flag                   0.000000
highlight_fee_flag                 0.000000
schedule_fee_flag                  0.000000
border_fee_flag                    0.000000
qty_available_per_listing          0.000000
gms                                1.475369
category_avg_gms                   0.000000
gms_greater_avg                    0.000000
dtype: float64

In [14]:
# Reporting duplicated rows
df.duplicated().sum()

0